<p-table #dt [columns]="cols" [value]="countries" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[5,10,15,20]"     [loading]="loading"      [showCurrentPageReport]="true"
 currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} entradas "  styleClass="p-datatable-countries p-datatable-gridlines"

   >
  <ng-template pTemplate="caption">
    <div style="text-align: right">
      <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
      <input type="text" pInputText size="50" placeholder="Filtro Global"
        (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
    </div>
  </ng-template>

  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns">
        {{col.header}}
      </th>
    </tr>

    <tr>
      <th *ngFor="let col of columns" [ngSwitch]="col.field">
        <input *ngSwitchCase="'name.official'" pInputText type="text"
          (input)="dt.filter($event.target.value, col.field, 'contains')" placeholder="Filtro país" />
        <input *ngSwitchCase="'capital'" pInputText type="text"
          (input)="dt.filter($event.target.value, col.field, 'contains')" placeholder="Filtro capital"/>
        <input *ngSwitchCase="'population'" pInputText type="text"
          (input)="dt.filter($event.target.value, col.field, 'contains')" placeholder="Filtro población"/>

          </th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-countrie let-columns="columns">
    <tr>
      <td>{{ countrie.name.official }}</td>
      <td>{{ countrie.capital }}</td>
      <td>{{ countrie.population }}</td>
    </tr>
  </ng-template>
</p-table>

